/*/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  color: #777;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  font-weight: 600;
  color: #222;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: orangered !important;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 100px;
}

.btn-custom {
  border-color: orangered;
  background-color: orangered;
  color: white;
  font-weight: 500;
}

.btn-custom:hover {
  border-color: orange;
  background-color: orange;
  color: white !important;
}

.slide-1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent),
    url(../assets/images/slider-image-1.jpg);
}
.slide-2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent),
    url(../assets/images/slider-image-2.png);
}
.slide-3 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent),
    url(../assets/images/slider-image-3.jpg);
}
.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
